.container {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0 auto;
    padding: 10px;
    fonst-size: 30px;
    color: #fff;
}

.popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.popup .popup__content {
    margin: 40px auto 0 auto;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}
.popup_wrapper {
    display: none;
}